

body{
    background-color: #6f88fc;
}

*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

h1{
    text-align: center; padding-top: 20px; color: white; font-size: 26px;
}


.todos{
    width: 500px; height: auto;
    padding: 20px; margin: 20px auto;
    background-color: #eee; border-radius: 4px;
    display: flex; flex-direction: column; flex-wrap: nowrap;
    justify-content: center; align-items: center;
}

.todos .item{
    width: 100%; height: auto; min-height: 50px; cursor: pointer;
    border: 1px solid #6f88fc55; border-radius: 5px;
    margin: 3px; display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: flex-start; align-items: center;
}

.todos .item input{
    width: 18px; height: 18px; margin: 20px; cursor: pointer;
}
.todos .item span{
    display: block; min-height: 100%;
    border-left: 1px solid #6f88fc55;
    align-self: stretch; display: flex;
    flex-direction: row; justify-content: flex-start;
    align-items: center; padding: 15px;
    font-size: 19px; font-weight: lighter;
    color: #444; width: 100%;
    position: relative;
}
.todos .item input + span::before{
    content: ""; width: 0%; height: 2px;
    background-color: #6f88fc;
    position: absolute; left: 0; top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s;
}
.todos .item input:checked + span{
    background-color: #ddd;
}
.todos .item input:checked + span::before{
    width: 100%;
}






